.project{
    display: block;
    padding: 0 50px;
}
.Projectview{
    display: block;
    width: 100%;
    margin-bottom: 2em;
}
.projectItems{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 1px 1px 3px 0 rgb(206, 205, 205);
    background-color: #f1f0f094;
    margin-bottom: 1em;
    padding: 1em;
    transition: 0.5s linear;
}
.projectItems:hover{
    transform: scale(1.04);
    transition: 0.5s linear;
    box-shadow: 1px 1px 6px 0px rgb(119 144 130 / 66%);
}
.projectcontent{
    display: block;
}
.projectcontent h3{
    font-weight: 900;
  
}
.projectcontent h4{
    margin: 1em 0;
}
.projectcontent ul{
    padding-left: 1em;
}
.projectcontent .preview{
    margin: 1.4em 0;
}
.projectcontent .preview a{
    padding: .5em 3em;
    background-color: var(--green);
    color: #fff;
    border-radius: .8em;
    position: relative;
    font-weight: 600;
    transition: 160s linear;
}
.projectcontent .preview a:hover{
   background: linear-gradient(180deg, #212121, #223129, #212121);
   transition: 160s linear;
}
.portofi{
    box-shadow: 1px 1px 3px 0 rgb(142 142 142);
}
.projectImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:0 1em;
}
.projectImage div{
    overflow: hidden;
    width: 100%;
    height: auto;
}
.projectImage div img{
    width: 100%;
    object-fit: cover;
    object-position: center;
   transition: 0.8s ease-in-out;
}
.projectImage div img:hover{
    transform: scale(0.9);
    transition: 0.8s ease-in-out;
}
.formore{
    width: 100%;
    display: flex;
    margin-bottom: 2em;
}

.formore a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: .7em .2em;
    color: #2b2a2a;
    gap:.4em;
    font-weight: 800;
    border-bottom: 1px solid #2b2a2a60;
    border-top: 1px solid #2b2a2a60;
    box-shadow: 2px 3px 5px 1px rgb(201, 200, 200);
    transition: 0.8s ease-in-out;
}
.formore a:hover{
    transform: scale(0.9);
    transition: 0.8s ease-in-out;
}
@media (max-width:1020px) {
    .projectItems{
        grid-template-columns: 1fr;
    }
    .projectcontent{
        order: 2;
    }
    .projectImage{
        border-bottom: 1px solid rgb(204, 204, 204);
    }
    .project{
        padding: 0 30px;
    }
}