.navbar{
    width: 100%;
    background: #fff;
    display: block;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(245, 245, 245, 0.314);
    z-index: 100;
}
.newColor{
    background: rgb(245, 245, 245);
    box-shadow:1px 1px 3px 0 rgb(163, 163, 163);
    transition: 0.1s linear;
}
.logo{
    font-size: 1.7em;
    /* font-weight: ; */
    color: rgb(46, 46, 48);
}
.black-white{
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    background: var(--green);
    display: block;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    right: 10px;
    margin-right: 1em;
}
.black-white::after{
    content: "";
    background: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: 320ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navbarOri{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 1em 0;
    transition: all 1.2s cubic-bezier(.3,.96,.59,.95);
}
.navbarOri ul{
    display: flex;
    align-items: center;
    gap: 1.5em;
}
.navbarOri ul li{
   list-style: none;
}
.navbarOri ul li a{
    font-size: 1.1em;
    color: var(--black);
}
.contactstyle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1.7em;
    background-color: var(--green);
    border-radius: 100px;
}
.contactstyle a{color: #fff !important;}

.navonc{
    width: 100%;
    display: none;
    justify-content: space-between;
}

.navonc span img{
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.showself {
    max-height: 500px !important; 
    opacity: 1 !important;
    padding:0 0 11px 23px !important;
}

@media (max-width:820px) {
    .navonc{
        display: flex;
    }
    .dsi{
        display: none !important;
    }
    .navbarOri ul{
        flex-direction: column;
        align-items: baseline;
    }
    .navbarOri{
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: all 0.6s ease-in-out;
        padding: 0 ;
        align-items: baseline;
    }
}
@media (max-width:400px) {
    .logo{
        font-size: 20px;
    }
    .navonc span img{
        width: 27px;
        height: 27px;
    }
}