.home{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:2em ;
    gap: 2em;
    padding: 0 50px;
    padding-top:4em ;
}
.Intro {
    display: block;
    padding-top: 2em;
}

.Intro > h5{
    font-size: 20px;
    color: rgb(94, 94, 94);
}

.Intro > h1{
    color: var(--black);
    font-size: 3.5em;
}

.issue{
    font-size: 2.5em;
}
.skillmaster{
    font-size: 15px;
    font-weight: 600;
    color: rgb(94, 94, 94);
}
.Intro h2{
    background: #e5e5e5;
    border-radius: 10px;
    padding:.01em 0;
    white-space: nowrap;
    text-overflow: clip;
    font-size: clamp(20px, 6vw, 2.5em);
    text-align: left;
    text-transform: uppercase;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(326deg, #000000c7, #07588bed, #29e52efc);
}

.wave-emoji {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}
@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}



.IconMaster{
    display: flex;
    margin-top:2em ;
    align-items: center;
    gap: 1em;
}
.IconMaster a{
    align-items: center;
    display: flex;
    justify-content: center;
}
.IconMaster a svg{
    transition: transform 0.3s ease, fill 0.3s ease;
    cursor: pointer;
}
.IconMaster a svg:hover{
    transform: scale(1.2);
}
.IconMaster :nth-child(1) > svg:hover{
    filter: drop-shadow(2px 2px 4px rgba(46, 46, 46, 0.658));
}
.IconMaster :nth-child(2) > svg:hover{
    filter: drop-shadow(2px 2px 4px #23ce6a9c);
}
.IconMaster :nth-child(3) > svg:hover{
    filter: drop-shadow(2px 2px 4px #1da0f298);
}
.IconMaster :nth-child(4) > svg:hover{
    filter: drop-shadow(2px 2px 4px #0076b57e);
}
.IconMaster :nth-child(5) > svg:hover{
    filter: drop-shadow(2px 2px 4px #1876f280);
}
.imageContain{
   width: 100%;
   overflow: hidden;
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.imageContain > div{
    width: 450px;
    height: 450px;
    animation: spinner 9s ease-in-out infinite ;
    box-shadow:rgba(255, 255, 255, 0.342) 0px 0px 0px 11px inset ;
    background: url('../../assets/UtitbestUpdatedWhiteshit.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

@keyframes spinner {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
.resume-contactme{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7em 2em;
    background-color: var(--green);
    border-radius: 10px;
    color: #fff;
}

.resumes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7em 2em;
    color: #fff;
    border-radius: 10px;
    background-color: var(--black);
}


@media (max-width:900px) {
    .home{
        grid-template-columns: 1fr;
    } 
    .Intro{
        order: 2;
    }
    .imageContain > div{
        height: 500px;
        width: 500px;
    }
}
@media (max-width:570px){
    .imageContain > div{
        width: 450px;
        height: 450px;
    }
    .home{
        padding: 2em 30px 0 30px;
    }
}
@media (max-width:500px){
     .imageContain > div{
        width: 400px;
        height: 400px;
    }
}
@media (max-width:450px){
    .imageContain > div{
        width: 350px;
        height: 350px;
    }
    .imageContain{
        justify-content: start;
    }
    .home{
        padding: 0 30px 0 30px;
    }
}
@media (max-width:400px){
    .imageContain > div{
        width: 300px;
        height: 300px;
        animation: none;
    }
}
@media (max-width: 365px){
    .resume-contactme{
        justify-content: space-between;
    }
}
@media (max-width: 350px) {
    .imageContain > div {
        width: 270px;
        height: 280px;
    }
    .contact {
    padding: .5em .4em;
    font-size: 15px;
    }
    .resumes{
        padding: .5em .9em;
        font-size: 15px;
    }
}
@media (max-width: 320px){
    .imageContain > div{
        width: 250px;
    }
}
@media (max-width: 300px){
    .imageContain > div{
        width: 230px;
    }
}